@charset "EUC-KR";
.wlInnerBox {text-align: center;}
.waterIntakeBox {
	display: flex;
	flex-direction: column;
	aligin-items: center;
	gap: 10px;
}
.hwAfter {
	display : none;
	gap: 20px;
	aligin-items: center;
	justify-content: center;
};
.height2 {
    outline: none;
    border: 1px solid #ddd;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.hwBox {margin-bottom: 10px;}
.guide {
	display: flex;
	justify-content: center;
	gap: 10px;
}