<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daily.mapper.MemberMapper">
	<insert id="MemberRegister" parameterType="memberDTO">
		insert into member(id,pw,name,sex,age) values(#{id},#{pw},#{name},#{sex},#{age});
	</insert>
	<select id="getMemberLogin" parameterType="String" resultType="memberDTO">
		select id,pw,name from member where id = #{id};
	</select>
	<update id="updateMemberPassword" parameterType="memberDTO">
		update member set pw=#{pw} where id=#{id};
	</update>
</mapper>