body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.food {
  display: flex;
  justify-content: space-between;
}

.foodlist, .myfood {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search {
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select, input[type="text"], input[type="submit"] {
  margin: 5px;
  padding: 5px;
}

.menu_head {
  font-weight: bold;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.menu_head span {
	margin-left: 20px;
}

.menu_body {
  background-color: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_body span {
	margin-left: 20px;
}

button.keep {
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

a {
  margin: 0 5px;
  text-decoration: none;
  color: #008CBA;
}

a:hover {
  text-decoration: underline;
}

/* DatePicker와 달력 버튼을 감싸는 컨테이너 */
.datepicker-container {
  display: flex;
}

/* DatePicker 스타일 */
.datepicker-input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

/* 달력 버튼 스타일 */
.calendar-button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
}
