.container {
	padding:20px;
	display: flex;
}
.myrecipe {
	flex:1;
	background-color:yellow;
}
.recipe_name {
	margin-bottom: 20px;
}
.recipe_kdris {
	height: 250px;
	background-color:green;
	color:white;
	margin-bottom: 20px;
}
.recipe_search {
	flex:3;
	padding:20px;
	text-align: center;
}

.recipe_search_info {
	margin-top: 20px;
}

.paging_region {
	display:flex;
	justify-content: center;
	align-items: center;
}

.pagingview {
	list-style:none;
	padding : 0;
	display: flex;
}

.pagingview > li {
	margin: 5px;
	padding: 10px;
	border: 1px soild black;
}
.keep_ingredient{
	flex:1;
	background-color:yellow;
}